name: 发布npm package

on:
  push:
    tags:
      - 'v*'
    paths-ignore:
      - 'README.md'

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'
          scope: '@d-matrix'
      - name: Check folders and files
        run: pwd
      - run: tree -L 3
      - run: cat .npmrc

      - name: Install dependencies
        run: npm ci

      - name: Publish
        run: npm publish --access public
        env:
          NPM_AUTHTOKEN: ${{ secrets.NPM_AUTHTOKEN }}